@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
:root {
    --color-primary: #FA4216;

    --color-black-700: #141417;
    --color-black-600: #200903;
    --color-black-200: #808080;

    --font-league-spartan: 'League Spartan', 'serif';
    --font-roboto: 'Roboto', 'serif';

}